/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/
@import url('refinery/application.css');
/* line 7, sass/partials/_base.scss */
body {
  background: white;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* line 14, sass/partials/_base.scss */
#body_content, #side_body_content {
  float: left;
  width: 100%;
  background: white;
  color: #333;
  padding: 0;
}

/* line 22, sass/partials/_base.scss */
#menu {
  height: 23px;
  background-image: url("/images/header_gradient.jpg");
  background-repeat: repeat-x;
}
/* line 27, sass/partials/_base.scss */
#menu ul {
  list-style: none;
  padding: 0px;
  line-height: 18px;
}
/* line 32, sass/partials/_base.scss */
#menu ul li {
  float: left;
  margin-right: 10px;
}
/* line 36, sass/partials/_base.scss */
#menu ul li a {
  display: block;
  padding: 3px 10px 2px 10px;
  text-decoration: none;
  color: white;
}
/* line 43, sass/partials/_base.scss */
#menu ul li .selected a, #menu ul li a:hover {
  background: #CCC;
}

/* line 50, sass/partials/_base.scss */
#banner {
  height: 178px;
  margin: 0;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
}
/* line 56, sass/partials/_base.scss */
#banner img.logo {
  width: 173px;
  height: 95px;
  position: relative;
  top: 25px;
  left: 25px;
  border: none;
}
/* line 64, sass/partials/_base.scss */
#banner img.slogan {
  top: 80px;
  left: 420px;
  position: relative;
  border: none;
}

/* line 72, sass/partials/_base.scss */
footer {
  height: 23px;
  background-image: url("/images/header_gradient.jpg");
  background-repeat: repeat-x;
  color: white;
}
/* line 79, sass/partials/_base.scss */
footer p {
  position: relative;
  left: 45%;
  padding: 2px 0 0 0;
}
/* line 85, sass/partials/_base.scss */
footer .developer {
  position: relative;
  left: 37%;
  font-size: 0.5em;
  color: #fff;
  text-decoration: none;
}

/* line 94, sass/partials/_base.scss */
#page {
  padding: 0;
}

/* line 1, sass/partials/_home.scss */
#showcase {
  color: white;
  background: #07557c;
  margin: 3px 0;
  padding: 20px 15px;
}
/* line 6, sass/partials/_home.scss */
#showcase #slides {
  float: left;
  height: 316px;
  width: 416px;
  background: url("/images/showcase-bg.png") no-repeat;
}
/* line 11, sass/partials/_home.scss */
#showcase #slides img {
  margin: 8px 7px;
}
/* line 15, sass/partials/_home.scss */
#showcase #license {
  float: right;
  width: 530px;
  padding: 5px 0;
}
/* line 19, sass/partials/_home.scss */
#showcase #license #license-link {
  float: right;
  padding: 0 5px;
}

/* line 26, sass/partials/_home.scss */
#contacts {
  height: 109px;
  background: url("/images/contacts-bg.png") no-repeat;
  padding: 10px;
  color: #07557c;
}
/* line 32, sass/partials/_home.scss */
#contacts table {
  line-height: 1em;
  font-size: 1em;
  border: 0;
  border-collapse: collapse;
}
/* line 37, sass/partials/_home.scss */
#contacts table th, #contacts table td {
  border: 0;
  background: transpareng;
}
/* line 41, sass/partials/_home.scss */
#contacts table th {
  text-align: left;
  width: 150px;
}

/* line 49, sass/partials/_home.scss */
#mailform fieldset {
  border: 0;
}
/* line 51, sass/partials/_home.scss */
#mailform fieldset ol, #mailform fieldset ul, #mailform fieldset li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 56, sass/partials/_home.scss */
#mailform fieldset label {
  width: 100px;
  margin-right: 20px;
}
/* line 60, sass/partials/_home.scss */
#mailform fieldset input {
  margin-left: 20px;
  width: 300px;
}
/* line 64, sass/partials/_home.scss */
#mailform fieldset textarea {
  width: 600px;
}
/* line 68, sass/partials/_home.scss */
#mailform fieldset input.submit {
  margin-left: 0px;
  width: 150px;
}

/* line 2, sass/partials/_tables.scss */
table.price tr:nth-child(even) {
  background: white;
}
/* line 5, sass/partials/_tables.scss */
table.price tr:nth-child(even) td:nth-child(odd) {
  background: #d2e0eb;
}
/* line 9, sass/partials/_tables.scss */
table.price tr:nth-child(odd) {
  background: #d2e0eb;
}
/* line 12, sass/partials/_tables.scss */
table.price td {
  padding: 0 5px;
}
