= render(:partial => "/shared/menu", :locals => {:dom_id => 'menu', :css => 'menu' })
#banner
  = image_tag('/images/logo.png', :class => 'logo')
  = image_tag('/images/slogan.png', :class => 'slogan')
